---
# vim: syntax=yaml
# vim: set expandtab:
network_config:
- type: interface
  name: eno3
  use_dhcp: false
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/19
  - ip_netmask: {{ control_virtual_ip }}/19
  routes:
    - { destination: "10.8.0.0/19", nexthop: "10.8.31.254" }
    - { default: true, nexthop: "10.8.31.254"}

- type: interface
  name: eno4
  use_dhcp: false
  defroute: false

- type: ovs_user_bridge
  name: br-link0
  use_dhcp: false
  defroute: false
  mtu: 9000
#  addresses:
  members:
    - type: ovs_dpdk_port
      name: dpdk-eno1
      members:
        - type: interface
          name: eno1
    - type: ovs_dpdk_port
      name: dpdk-eno2
      members:
        - type: interface
          name: eno2
